.TelaPrincipalContainer {
  background-color: #1C4839;
  color: white;
  min-height: 100vh;
  padding: 0 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mainContent {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paper {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 30px !important;
  width: 100%;
  max-width: 800px;
}

.cartItem {
  display: flex;
  margin-bottom: 20px;
}

.cartItemImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.cartItemDetails {
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.Button {
  background-color: #FF9113;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #E68010;
}

.Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.totalContainer {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
}