.TelaPrincipalContainer {
  background-color: #1C4839;
  color: white;
  min-height: 100vh;
  padding: 0 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paper {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px !important;
  width: 90%;
}

.filterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.filterOptions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 300px;
}

.filterSelect {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 250px;
}

.paginationControls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.paginationControls label,
.paginationControls select {
  margin-right: 10px;
}

.paginationControls select {
  padding: 5px;
  margin-right: auto;
}

.productCount {
  margin-left: auto;
  font-size: 1.2em;
  color: #FF9113;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.noProductsMessage {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.BackButton {
  background-color: #FF9113;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 150px;
}

.BackButton:hover {
  background-color: #E68010;
}

.BackButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loading p {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}