.TelaPrincipalContainer {
  background-color: #1C4839;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainContent {
  padding-top: 60px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.buttonContainer { 
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.BackButton {
  background-color: #FF9113;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px; 
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackButton:hover {
  background-color: #E68010;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.productCount {
  font-size: 1.2em;
  margin-top: 20px;
  color: #FF9113;
}